/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* Variables */

:root {
  --Desaturated-Red: #ce9797;
  --Soft-Red: #f96262;
  --Dark-Grayish-Red: #413a3a;
  --Linear-Gradient-1: 135deg, from #ffffff, to #fff5f5;
  --Linear-Gradients-2: 135deg, from #f8bfbf, to #ee8c8c;
  --Font-Size: 16px;
  --Padding-Mobile: 3.2rem;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg-pattern-desktop.svg);
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
}

/* Header */

header {
  padding: var(--Padding-Mobile);
}

/* Hero Image */

.hero-img {
  width: 100%;
  margin-bottom: 6.4rem;
}

.hero-img img {
  width: 100%;
}

.hero-text {
  padding: var(--Padding-Mobile);
}
